.tickets-section {
  background-color: #f4f8f9;
  padding: 40px 0;
}

.tickets-title {
  font-size: 2.5rem;
  color: #004085;
}

.game-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-to-cart-btn {
  color: #fff;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #ff5722;
}

.cart {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-title {
  font-size: 1.8rem;
  color: #ff5722;
}

.cart-empty {
  font-size: 1.5rem;
  color: #d32f2f;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .btn {
  background-color: #d32f2f;
  color: #fff;
}

.cart-item .btn:hover {
  background-color: #c62828;
}

.cart-total {
  font-size: 1.5rem;
  color: #388e3c;
}
.game-name{
  color: rgb(185, 51, 134);
}
