/* Footer.css */
footer {
  font-size: 16px;
}

footer a {
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #f8d210 !important;
}

footer .row {
  align-items: center;
}

@media (max-width: 768px) {
  footer .row {
    text-align: center;
  }

  footer .d-flex {
    justify-content: center !important;
  }
}
.foot{
  background-color:#3a328a;
}